.menu {
  height: 100vh;
  background-color: #2c2c2c;

  overflow: auto;

  font-weight: 600;
  text-transform: uppercase;

  &__top {
    margin-bottom: 24px;
    position: sticky;
    top: 0;
    z-index: 1;

    @include on-tablet {
      margin-bottom: 0;
    }
  }

  &__nav {
    margin-bottom: 40px;
  }

  &__phone-number {
    display: inline-block;
    margin-bottom: 16px;

    color: #fff;
    text-decoration: none;
    font-size: 16px;
    line-height: 169%;
  }

  &__book-test-ride {
    display: block;
    width: fit-content;

    padding-bottom: 7px;

    color: #fff;
    text-decoration: none;
    font-size: 12px;
    line-height: 133%;
    letter-spacing: 0.17em;

    &:hover {
      border-bottom-color: #534f4f;
    }
  }

  &__close {
    display: block;
    height: 24px;
    width: 24px;
    background-image: url(/src/images/icons/icon-close.svg);

    background-size: cover;
    background-position: center;
    transition: transform 0.3s;

    @include hover(transform, scale(1.2));

    @include on-tablet {
      height: 32px;
      width: 32px;
    }
  }
}
